
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isUserAdmin(userId) {
      return get(/databases/$(database)/documents/users/$(userId)).data.role == 'Admin';
    }

    match /divisions/{divisionId} {
      allow get: if isSignedIn();
      allow list: if isSignedIn();
      allow create: if false;
      allow update: if false;
      allow delete: if false;
    }

    match /visitorEntries/{visitorEntryId} {
      allow get: if isSignedIn();
      allow list: if isSignedIn();
      allow create: if isSignedIn();
      allow update: if isSignedIn() && resource != null;
      allow delete: if false;
    }

    match /users/{userId} {
      allow get: if isSignedIn() && (isUserAdmin(request.auth.uid) || request.auth.uid == userId);
      allow list: if isSignedIn() && isUserAdmin(request.auth.uid);
      allow create: if isSignedIn() && isUserAdmin(request.auth.uid);
      allow update, delete: if isSignedIn() && isUserAdmin(request.auth.uid);
    }
    
    match /audit_logs/{auditLogId} {
      allow get: if isSignedIn() && isUserAdmin(request.auth.uid);
      allow list: if isSignedIn() && isUserAdmin(request.auth.uid);
      allow create: if isSignedIn();
      allow update: if false;
      allow delete: if false;
    }

    match /generated_id_cards/{divisionId}/cards/{cardId} {
      allow get, list: if isSignedIn();
      allow create, delete: if isSignedIn() && isUserAdmin(request.auth.uid);
      allow update: if isSignedIn();
    }
  }
}
